.loader {
    border: 4px solid darkgrey;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    animation: fill 2s infinite;
}

@keyframes fill {
    0% {top: 30px; background-color: darkblue;}
    100% {background-color: red;}
}

.loader p {
  font-size: 3rem;
  color: white;
  margin: 20px 30px;
}
